@font-face {
  font-family: "SFProDisplay";
  src: url("fonts/SFProDisplay-Regular.eot");
  src: local("☺"), url("../fonts/SFProDisplay-Regular.woff") format("woff"),
    url("../fonts/SFProDisplay-Regular.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "SFProDisplay";
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
p {
  margin: 0px 0px 0px 0px;
}

:root {
  --blue: #007aff;
  --light-blue: #e9f3ff;
  --black-color: #000;
  --blue-color-1: #007aff;
  --yellow-color-1: #facc56;
  --yellow-color-2: #ffe589;
  --text-color-1: #222222;
  --text-color-2: #363636;
  --text-color-3: #9c9c9c;
  --text-color-4: #636363;
  --line-color-1: #e0e0e0;
  --bg-color-1: #e9f3ff;
  --bg-color-2: #edf5ff;
  --bg-color-3: #f8f8f8;
  --bg-color-3: #eff6ff;
  --bg-color-4: #f3f9ff;
}

header {
  background-color: var(--light-blue);
  padding: 20px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header_logo_icon {
  max-width: 50px;
  min-width: 50px;
  max-height: 50px;
  min-height: 50px;
}
.nav_text {
  margin: 0px 0px 0px 15px;
  color: var(--blue);
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

.nav_link {
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  color: #222222;
  white-space: nowrap;
}

.btn-close {
  background: url("../img/icons/chest.svg") no-repeat !important;
  opacity: unset;
}

.modal-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  color: #000000;
}

.form-check-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: #000000;
  cursor: pointer;
}
.form-check-input {
  cursor: pointer;
}
.modal-radius {
  box-shadow: 0px 10px 20px rgba(34, 34, 34, 0.1);
  border-radius: 20px;
  padding: 18px;
  @media (max-width: 768px) {
    padding: 4px;
  }
}
.modal-form-btn {
  width: 100%;
  border-radius: 30px;
  font-weight: 900;
  font-size: 20px;
  line-height: 135%;
  color: #ffffff;
  padding: 13px 30px;
}

.contacts-btn {
  border: 1px solid #007aff;
  box-sizing: border-box;
  border-radius: 30px;
  width: 100%;
  max-width: 297px;
  padding: 15px 30px;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #000000;
  text-align: center;
  transition: all ease 0.3s;
  margin: 0px 20px 0px 40px;
  white-space: nowrap;

  @media (max-width: 991px) {
    margin: 0px 0px 0px 0px;
    max-width: unset;
    background-color: #007aff;
    color: #ffffff;
  }
  &:hover {
    background-color: #007aff;
    color: #ffffff;
  }
}

.languages {
  ul {
    li {
      margin: 0px 6px;
      a {
        display: inline-block;
        width: 100%;
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
        transition: all ease 0.3s;
        color: #363636;
        opacity: 0.72;
        &:hover {
          opacity: 1;
        }
        &.active {
          opacity: 1;
        }
      }
    }
  }
}
.navbar-collapse {
}

.header__container {
  margin: 0px auto;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5e5373;
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  @media (max-width: 991px) {
  }
}

.header__logo {
  flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__burger {
  display: none;
}

.header__menu {
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

@media (max-width: 991px) {
  body.lock {
    overflow: hidden;
  }
  header {
    padding: 9px 0px;
  }
  .header__body {
    height: 50px;
    justify-content: space-between;
  }
  .header__logo {
    flex: 0 0 40px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    &.active {
      span {
        background-color: var(--blue) !important;
      }
      &:before,
      &:after {
        background-color: var(--blue) !important;
      }
    }
  }
  .header__burger span {
    position: absolute;
    background-color: #000000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
    padding: 15px 10px 20px 10px;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
    margin: 20px 0px 0px 0px;
  }
  .header__list li {
    margin: 0px 0px 10px 0px;
  }
  .header__link {
    font-size: 24px;
  }
  .nav_link {
    font-size: 18px !important;
  }
  .nav-item {
    margin: 0px 0px 5px 0px !important;
  }
  .contacts-btn {
    margin: 15px 0px 0px 0px !important;
  }
  .adpt_lng {
    margin: 15px 0px 0px 0px;
  }
}

.navbar-brand {
  position: relative;
}

.adpt_menu_items {
  display: none;
  @media (max-width: 991px) {
    display: block;
  }
  .num {
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: #007aff;
  }
}
.call_text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 135%;
  color: #000000;
}
.write .text {
  font-weight: 500;
  font-size: 20px;
  line-height: 135%;
  /* identical to box height, or 27px */

  color: #007aff;
}

.adpt_logo {
  display: none !important;
  @media (max-width: 991px) {
    display: flex !important;
  }
}

@media (max-width: 1250px) {
  .header__list li {
    margin: 0px 0px 0px 9px;
  }
  .contacts-btn {
    margin: 0px 10px 0px 15px;
  }
  .nav_text {
    margin: 0px 0px 0px 6px;
  }
  .navbar-brand {
    margin: 0px 5px 0px 0px;
  }
  .contacts-btn {
    padding: 10px 13px;
    font-size: 14px;
  }
  .languages ul li {
    margin: 0px 4px;
  }
  .nav_link {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  header {
    padding: 5px 0px;
  }
}
@media (max-width: 991px) {
  .header_logo_icon {
    max-width: 34px;
    min-width: 34px;
    max-height: 34px;
    min-height: 34px;
  }
  .nav_text {
    font-size: 12px;
  }
  .navbar-brand {
    padding: 0px 0px 0px 0px !important;
    height: fit-content !important;
  }
  .adpt_lng {
    margin: 25px 0px 0px 0px;
  }
  .header__list {
    margin: 25px 0px 0px 0px;
  }
  .nav_link {
    font-size: 24px !important;
  }
  .languages ul li a {
    font-size: 16px;
  }
  .contacts-btn {
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.01em;
    margin: 30px 0px 0px 0px !important;
    max-width: 430px !important;
  }
  .call_text {
    font-size: 24px;
  }
  .adpt_menu_items .num {
    font-size: 36px;
  }
}

.section_1 {
  padding: 198px 0px 140px 0px;
  background: url("../img/фон_кружки.png") no-repeat;
  background-size: 100% 100%;
  background-color: var(--light-blue);
}

h1 {
  color: var(--blue);
  line-height: 100%;
  font-weight: 600;
  font-size: 60px;
}
h2 {
  font-weight: bold;
  font-size: 42px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: var(--blue);
}
@media (min-width: 3000px) {
  .section_1 {
    background-size: cover;
  }
}
@media (max-width: 991px) {
  .section_1 {
    padding: 100px 0px 40px 0px;
  }
  h1 {
    font-size: 40px;
  }
  .btn {
    width: fit-content !important;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  .btn {
    width: 100% !important;
  }
}

@media (max-width: 550px) {
  .section_1 {
    background-size: cover;
    background-position: right;
  }
}

.section_2 {
  position: relative;
  padding: 80px 0px;
}
.modal_video {
  padding: 30%;
  position: relative;
  background: #ffe589;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  &::after {
    content: url("../img/icons/plane.svg");
    position: absolute;
    right: -120px;
    top: -120px;
    z-index: 2;
    @media (max-width: 1200px) {
      display: none;
    }
  }
}
.modal_video_background {
  position: absolute;
  background: url("../img/men_background.png") no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  z-index: 3;
  left: 0;
  top: 0;
  pointer-events: none;
}

.video_modal_btn {
  background: url("../img/icons/play.svg") no-repeat;
  display: block;
  width: 80px;
  height: 80px;
  transition: all ease 0.3s;
  &:hover {
    transform: scale(1.2);
  }
}
.modal_viedo_btn {
  position: relative;
  button {
    position: absolute;
    right: 10%;
    bottom: -100px;
  }
}
.modal-video-body {
  height: 700px;
}

/*
|--------------------------------------------------------------------------
| quiz
|--------------------------------------------------------------------------
*/
.quiz {
  padding: 30px 0;
  padding: 1.875rem 0;
  position: relative;
  background: #edf5ff;
}

@media (min-width: 768px) {
  .quiz {
    padding: 60px 0;
    padding: 3.75rem 0;
  }
}

.quiz__text {
  margin-top: 10px;
  margin-top: 0.625rem;
  font-size: 16px;
  color: #000000;
  max-width: 700px;
}

@media (min-width: 768px) {
  .quiz__text {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .quiz__text {
    font-size: 20px;
  }
}

.quiz__wizard {
  max-width: 700px;
}

.quiz__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 25px 0;
  margin: 1.5625rem 0;
  position: relative;
  max-width: 500px;
  max-width: 31.25rem;
}

.quiz__steps-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.quiz__steps-item:after {
  content: "";
  height: 1px;
  background: var(--blue);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 15px;
  margin: 0 0.9375rem;
}

.quiz__steps-item:last-child:after {
  display: none;
}

.quiz__steps-item:last-child.swiper-slide-thumb-active .quiz__steps-number {
  background: var(--blue);
  color: #ffffff;
  border-color: var(--blue);
}

.quiz__steps-item.swiper-slide-thumb-active .quiz__steps-number {
  background: var(--blue);
  color: #ffffff;
  border-color: var(--blue);
}

.quiz__steps-number {
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 600;
  color: var(--blue);
  max-width: 40px;
  max-width: 2.5rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  -ms-flex: 0 0 2.5rem;
  flex: 0 0 2.5rem;
  height: 40px;
  height: 2.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid var(--blue);
  cursor: pointer;
}

@media (min-width: 768px) {
  .quiz__steps-number {
    font-size: 20px;
    font-size: 1.25rem;
    max-width: 55px;
    max-width: 3.4375rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 55px;
    flex: 0 0 55px;
    -ms-flex: 0 0 3.4375rem;
    flex: 0 0 3.4375rem;
    height: 55px;
    height: 3.4375rem;
  }
}

.quiz__title {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  font-size: 14px;
  font-size: 0.875rem;
  color: #000000;
  font-weight: 500;
}

@media (min-width: 768px) {
  .quiz__title {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

@media (min-width: 992px) {
  .quiz__title {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

.quiz__radio {
  height: 100%;
}

.quiz__radio label {
  border-radius: 12px;
  padding: 0.95rem 1.25rem 0.75rem 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: fit-content;
  margin: 0;
  position: relative;
  cursor: pointer;
  height: 100%;
}

.quiz__radio label:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 20px;
  left: 1.25rem;
  width: 24px;
  width: 1.5rem;
  height: 24px;
  height: 1.5rem;
  border-radius: 7px;
  border-radius: 0.4375rem;
  border: 2px solid #000000;
  border: 0.125rem solid #000000;
}

.quiz__radio label:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 20px;
  left: 1.25rem;
  width: 24px;
  width: 1.5rem;
  height: 24px;
  height: 1.5rem;
  display: none;
  background: url("../img/icons/check_blue.svg") center/65% no-repeat;

  z-index: 2;
}

.quiz__radio input[type="radio"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.quiz__radio input[type="radio"]:checked + label {
  background: #d2e6ff;
}

.quiz__radio input[type="radio"]:checked + label:before {
  display: block;
}

.quiz__radio-title {
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: #222222;
}

.quiz__radio-subtitle {
  font-size: 12px;
  font-size: 0.75rem;
  color: #fff;
  line-height: 1;
  margin-top: 5px;
  margin-top: 0.3125rem;
}

.quiz__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 30px;
  margin-top: 1.875rem;
}

.quiz__button {
  font-weight: normal;
  height: 45px;
  height: 2.8125rem;
  outline: none !important;
  margin-left: 10px;
  margin-left: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.quiz__button:hover,
.quiz__button:focus {
  color: #ffffff;
}

.quiz__input {
  border-radius: 8px;
  border-radius: 0.5rem;
  font-size: 14px;
  font-size: 0.875rem;
  height: 40px;
  height: 2.5rem;
  &::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    color: #a8a8a8;
  }
}

@media (min-width: 768px) {
  .quiz__input {
    font-size: 18px;
    font-size: 1.125rem;
    height: 50px;
    height: 3.125rem;
  }
}

.quiz__cta-button {
  width: 100%;
  font-size: 14px;
  font-size: 0.875rem;
  color: #fff;
  background: #000000;
  height: 40px;
  height: 2.5rem;
  border-radius: 8px;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .quiz__cta-button {
    font-size: 18px;
    font-size: 1.125rem;
    height: 50px;
    height: 3.125rem;
    width: 180px;
    width: 11.25rem;
    margin-top: 40px;
    margin-top: 2.5rem;
  }
}

.quiz__cta-button:hover,
.quiz__cta-button:focus {
  background: #02785c;
  color: #fff;
}

.quiz .swiper-button-disabled {
  display: none;
}

.quiz__cta-title {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  /* or 34px */

  color: #000000;
}

.quiz__cta-form {
  margin: 25px 0px 0px 0px;
}

.quiz__cta-form:before {
}

@media (max-width: 991.98px) {
  .quiz__cta-form:before {
    display: none;
  }
}

.quiz__cta-form.-no-arrow:before {
  display: none;
}

.quiz__mangaer-ava {
  max-width: 70px;
  max-width: 4.375rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70px;
  flex: 0 0 70px;
  -ms-flex: 0 0 4.375rem;
  flex: 0 0 4.375rem;
  height: 70px;
  height: 4.375rem;
  border-radius: 50%;
  margin: 0 auto;
}

.quiz__manager-name {
  font-size: 24px;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-top: 1.25rem;
  color: #fff;
}

.quiz__manager-position {
  color: #8e8e8e;
}

.quiz__cta-question {
  font-size: 16px;
  font-size: 1rem;
  margin-top: 20px;
  margin-top: 1.25rem;
  color: #fff;
}

.quiz__manager-phone {
  font-size: 24px;
  font-size: 1.5rem;
  color: #fff;
  margin-top: 10px;
  margin-top: 0.625rem;
}

.quiz__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 15px;
  margin-top: 0.9375rem;
}

.quiz__icon {
  margin: 0 10px;
  margin: 0 0.625rem;
}
.quiz__header-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #007aff;
  span {
    color: #000000;
  }
}
.check_white {
  display: none;
}
.quiz__steps-item.swiper-slide-thumb-active {
  .check_white {
    display: block;
  }
  .check_blue {
    display: none;
  }
}

.last_next_btn {
  font-weight: normal !important;
  font-size: 18px !important;
  line-height: 100% !important;
  letter-spacing: 0.01em !important;
  color: #ffffff !important;
}

.quiz_border {
  background: #ffffff;
  border-radius: 16px;
  padding: 30px 30px 60px 30px;
  .quiz__text {
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    color: #444444;
  }
}
.manager_img_block {
  overflow: hidden;
  border-radius: 50%;
  width: 93px;
  height: 93px;
  background: #272b33;
  display: flex;
  justify-content: center;
}
.manager_img {
  object-fit: cover;
}
.quiz__cta-form {
  .title_man {
    font-size: 26px;
    line-height: 140%;
    /* or 36px */

    letter-spacing: 0.01em;
    margin: 0px 0px 10px 0px;
    color: #222222;
  }
  .speciality_text {
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 28px */

    letter-spacing: 0.01em;

    color: #222222;
  }
}
.manager_img_block {
  margin: 0px 15px 0px 0px;
}

.contacts_manager {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contacts_manager_item {
  display: flex;
  align-items: center;
  &:first-child {
    margin: 0px 0px 20px 0px;
  }
  img {
    margin: 0px 15px 0px 0px;
  }
  .contacts_manager_text {
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    /* identical to box height, or 34px */

    color: #222222;
  }
}

.about2 .content {
  padding: 80px 0;
  text-align: center;
  @media (max-width: 991px) {
    padding: 40px 0;
  }
}

#about2__title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  /* identical to box height, or 48px */
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--blue);
  margin: 0 0 40px 0;
}

.about2__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 50px;
  margin: 0 0 50px 0;
  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
}

#about2__content_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 0 20px 0;
}

#about2__content_title {
  font-style: bold;
  font-weight: bold;
  font-size: 24px;
  line-height: 110%;
  /* or 26px */
  text-align: center;
  color: #000000;
  margin: 0 0 15px 0;
}

#about2__content_subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 110%;
  /* or 22px */
  text-align: center;
  color: #000000;
}

#about2__button {
  padding: 21px 77px;
  border-radius: 30px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 120%;
  /* or 26px */
  letter-spacing: 0.01em;
  color: #ffffff;
  background-color: var(--blue);
  border: none;
}

.our_works .content {
  padding: 80px 0;
  @media (max-width: 991px) {
    padding: 30px 0px 80px 0px;
  }
}

.our_works__title {
  margin: 0 0 40px 0;
  text-align: center;
}

#our_works__title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  /* identical to box height, or 48px */
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--blue);
}

.our_works__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 40px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    row-gap: 0px;
  }
}

.our_works__content_items {
  position: relative;
  @media (max-width: 768px) {
    max-height: 414px;
    border-radius: unset;
  }
}

.our_works__content_hover {
  position: absolute;
  display: none;
  opacity: 70%;
}

.our_works__content_items:hover .our_works__content_hover {
  display: block;
  z-index: 5;
  justify-content: center;
}
.our_works__content_items:hover .our_works__content_title {
  color: #ffffff !important;
}

#our_works__content_view {
  position: absolute;

  background: none;

  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  /* or 26px */
  text-align: center;
  letter-spacing: 0.01em;
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our_works__content_view {
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 50%;
  text-transform: uppercase;
  padding: 52px 19px;
  position: relative;
  z-index: 10;
}
#our_works__content_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our_works__content_titles {
  position: absolute;
  bottom: 0;
  padding: 25px;
  z-index: 5;
  @media (max-width: 991px) {
    padding: 15px 15px 5px 15px;
  }
}

#our_works__content_title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  letter-spacing: 0.01em;
  color: #ffffff;
  margin: 0 0 5px 0;
  @media (max-width: 991px) {
    font-size: 19px;
  }
}

#our_works__content_subtitle {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 24px */
  letter-spacing: 0.01em;
  color: #ffffff;
  @media (max-width: 991px) {
    font-size: 17px;
  }
}

.rates {
  position: relative;
}

.rates .content {
  padding: 110px 0 85px 0;
  position: relative;
  @media (max-width: 991px) {
    padding: 20px 0px;
  }
}

#rates__cloud {
  position: absolute;
  top: 140px;
  right: -45px;
  @media (max-width: 1020px) {
    display: none;
  }
}

.rates__title {
  margin: 0 0 40px 0;
  text-align: center;
}

#rates__title {
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 120%;
  /* identical to box height, or 46px */
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--blue);
}

.rates__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  @media (max-width: 991px) {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.rates__content_items {
  padding: 52px 35px 65px 35px;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.03), 0px 1px 2px rgba(0, 0, 0, 0.05),
    0px 15px 40px rgba(0, 0, 0, 0.03), 0px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  border: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  @media (max-width: 991px) {
    padding: 32px 25px 30px 35px;
  }
}

#rates__content_title {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120%;
  color: var(--blue);
  text-align: center;
  margin: 0 0 30px 0;
}

#rates__content_subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  /* or 43px */
  text-align: center;
  color: var(--blue);
  margin: 0 0 30px 0;
}

.rates__content_list {
  list-style-type: circle;
  margin: 0 0 23px 0;
  text-align: left;
}
.rates__content_list::before {
  color: var(--blue);
}
.rates__content_list li {
  color: var(--blue);
  margin: 10px 0;
  list-style-type: var(--blue);
}
.rates__content_list li span {
  color: #000000;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
}
.rates__content_list #gray_item,
.rates__content_list #gray_item span {
  color: var(--text-color-3);
}

#rates__content_price {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  color: var(--blue);
  text-align: center;
  margin: 0 0 33px 0;
}

#rates__content_price #tenge {
  font-size: 30px;
}
#rates__content_price #price_month {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */
  text-align: center;
  letter-spacing: -0.03em;
}

#rates__content_button {
  text-align: center;
  padding: 19px 45px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 29px */
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--blue);
  border-radius: 30px;
  border: none;
}

#rates__gift1 {
  position: absolute;
  bottom: 330px;
  right: 50px;
}
#rates__gift2 {
  position: absolute;
  top: 305px;
  right: 50px;
}

.rates__content_items:hover {
  border: 2px dashed var(--blue-color-1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15),
    0px 5px 10px rgba(0, 0, 0, 0.15);
}

.opportunities {
  background-color: var(--bg-color-2);
}

.opportunities .content {
  padding: 80px 0;
  text-align: center;
}

.opportunities__title {
  margin: 0 0 40px 0;
  text-align: center;
}

#opportunities__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  /* or 43px */
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--blue-color-1);
}

.opportunities__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 40px;
  margin: 0 0 40px 0;
  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: 530px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 435px) {
    grid-template-columns: 1fr;
  }
}

#opportunities__icon {
  margin: 0 0 15px 0;
}

#opportunities__text {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  color: var(--text-color-1);
}

#opportunities__button {
  padding: 21px 77px;
  background-color: var(--blue-color-1);
  color: var(--white-color);
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 120%;
  /* or 26px */
  letter-spacing: 0.01em;
  border-radius: 30px;
  border: none;
}

.reviews {
  padding: 80px 0px 80px 135px;
  @media (max-width: 991px) {
    padding: 80px 0px 80px 0px;
  }
}

.reviews__title {
  margin: 0 0 40px 0;
  text-align: center;
}

#reviews__title {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--blue-color-1);
}

.reviews__slider {
}

.reviews__images {
  position: relative;
  border-radius: 16px;

  height: 250px;
  display: flex;
  justify-content: center;
  margin: 0 0 15px 0;
}

.reviews__images a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#reviews__images_play {
  z-index: 10;
  width: 30px;
  height: 30px;
}
#reviews__images_effect {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 30%;
  border-radius: 16px;
  pointer-events: none;
}
#reviews__images_avatar {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  pointer-events: none;
}

#reviews__text {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: var(--text-color-1);
  margin: 0 0 9px 0;
}

#reviews__subtext {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  color: var(--text-color-4);
}

.swiper-container .swiper-wrapper {
  width: 100%;
}

.reviews__images {
  position: relative;
  .reviews__cover:before {
    background: none !important;
  }
  .reviews__cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
  }
}

.contacts {
  background-color: var(--bg-color-4);
  padding: 80px 0 0 0;
}

.contacts__title {
  margin: 0 0 40px 0;
  text-align: center;
}

#contacts__title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  color: var(--blue-color-1);
  text-transform: uppercase;
}

.contacts__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  margin: 0 0 30px 0;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

#contacts__content_title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  color: var(--text-color-3);
  margin: 0 0 15px 0;
  text-align: start;
  white-space: nowrap;
}

#contacts__content_subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
  color: var(--black-color);
  text-align: start;
  white-space: nowrap;
}

#contacts__maplink {
  display: flex;
  align-items: center;
  margin: 0 0 40px 0;
}

#contacts__maplink p {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  color: var(--blue-color-1);
  margin: 0 10px 0 0;
}

footer {
  background: var(--bg-color-3);
}

footer .content {
  padding: 55px 0;
}

.footer__up {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  column-gap: 30px;
  row-gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 58px 00;
  @media (max-width: 1000px) {
    grid-template-columns: 1fr 3fr;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    justify-items: start;
  }
}

.footer__social {
  display: flex;
}

#footer__social_items {
  margin: 0 10px;
  @media (max-width: 768px) {
    margin: 0 10px 0 0px;
  }
}

.footer__down {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1000px) {
    grid-template-columns: 1fr 2fr;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    row-gap: 23px;
  }
}

.footer__storeapp {
  display: flex;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.03))
    drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.02));

  width: fit-content;
}

.footer__playstore {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 12px 0px 0px 12px;
  margin: 0 1px 0 0;

  @media (max-width: 768px) {
    padding: 10px 14px 10px 14px;
  }
}

#footer__playstore_img {
  margin: 0 10px 0 0;
}

#footer__playstore_text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */
  letter-spacing: -0.3px;
  color: var(--black-color);
}

.footer__appstore {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 0px 12px 12px 0px;
  @media (max-width: 768px) {
    padding: 10px 17px 10px 14px;
  }
}

#footer__appstore_img {
  margin: 0 10px 0 0;
}

#footer__appstore_text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */
  letter-spacing: -0.3px;
  color: var(--black-color);
}

.footer__developer {
  display: flex;
  align-items: center;
}

.footer__developer a {
  margin: 0;
  padding: 0;
}

#footer__developer_text {
  margin: 0 10px 0 0;
}
.footer__logo {
  display: flex;
  align-items: center;
  margin: 0px 15px 0px 0px;
  img {
    margin: 0px 10px 0px 0px;
  }
}
.header__menu2 {
  ul {
    display: flex;
    align-items: center;
    margin: 0px 0px;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
    li {
      margin: 0px 16px;
      @media (max-width: 768px) {
        margin: 0px 0px 15px 0px;
      }
      a {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 120%;
        white-space: nowrap;
        color: #222222;
        @media (max-width: 768px) {
          font-weight: 300;
          font-size: 16px;
        }
      }
    }
  }
}
#header__logo-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  /* or 17px */

  letter-spacing: 0.01em;

  color: #007aff;
  white-space: nowrap;
}

.slick-slider {
  min-width: 0;
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider {
  position: relative;
}
@media (max-width: 767px) {
  .slider {
    padding: 0px 40px;
  }
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
  outline: none;
  cursor: pointer;
}
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/sl-arrow_l.svg") 0 0/100% no-repeat;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/sl-arrow_r.svg") 0 0/100% no-repeat;
}
.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}
.slider__item {
  padding: 0px 15px;
  outline: none;
}
.slider__item img {
  max-width: 100%;
}
.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0px 3px;
}
.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background: #e9e9e9;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff;
  background: #007aff;
  width: 14px;
  height: 14px;
}

@media (min-width: 571px) {
  .slider_about {
    display: none;
  }
}

@media (max-width: 570px) {
  .about2__content {
    display: none;
  }
}
